:root {
  /* --- Colors --- */

  /* Primary */
  --color-primary-green: hsl(171, 66%, 44%);
  --color-primary-blue: hsl(233, 100%, 69%);

  /* Neutral */
  --color-neutral-gray-700: hsl(210, 10%, 33%);
  --color-neutral-gray-500: hsl(201, 11%, 66%);
  --color-neutral-gray-200: hsl(200, 10%, 92%);
  --color-white: hsl(0, 0%, 100%);

  /* --- Typography --- */

  /* Family */
  --font-family-main: 'Bai Jamjuree', sans-serif;

  /* Sizes (18px = 1.125rem) */
  --font-size-body: 1.125rem;

  /* Weights */
  --weight-regular: 400;
  --weight-semibold: 600;

  /* --- Layout & Spacing --- */

  /* Max Widths */
  --container-mobile: 375px;
  --container-desktop: 1440px;

  /* Spacing Defaults */
  --gutter: 1.5rem; /* 24px - ideal para margens laterais mobile */
}
